.product-list {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.productName {
  font-size: 20px;
  font-weight: bold;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
}

.productPrice span {
  font-weight: normal;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 350px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body img {
  width: 100%;
  margin-bottom: 10px;
}

.nameOfProduct {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(255, 0, 191);
}

.nameOfProduct:hover {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container__search__name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.container__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px;
}

.container__content__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
  width: 100%;
}

.container__content__products__product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  margin: 20px;
}

.title__search__name {
  text-align: center;
}

.input__search__name {
  width: 30%;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.input__search__name:focus {
  border: 2px solid rgb(0, 0, 0);
}

.search__names__span {
  width: 6%;
  background-color: #6e966f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.error__message {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.main {
  padding: 5px;
  margin-top: 15px;
  height: 1500px; /* Used in this example to enable scrolling */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header {
  background-color: rgb(255, 254, 254);
  color: rgb(3, 3, 3);
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.navbar__links a:hover {
  background-color: blue;
}

.navbar__logo {
  width: 50px;
}

.navbar__logo img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */